.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: gray;
  color: white;
  font-size: 50px;
}

.animate {
  animation: fade-in 0.2s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
